<div class="row">
    <form action="/admin/categories/edit/{{category.id}}?_method=PUT" method="post" method="post">
        <h1>Edit Category</h1>
        <div class="form-group">
            <label for="neme">Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter Title" value="{{category.name}}">
        </div>
        <button class="btn btn-primary">Update Category</button>

    </form>

</div>